@model ShopConnection.SanPham
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="col-sm-9 padding-right">
    <div class="product-details">
        
        <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="~/Asset/images/home/@Model.HinhAnh" alt="" />
                <h3>NEW</h3>
            </div>
            <div id="similar-product" class="carousel slide" data-ride="carousel">

    

                <!-- Controls -->
                <a class="left item-control" href="#similar-product" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right item-control" href="#similar-product" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <!--/product-information-->
                <img src="~/Asset/images/product-details/new.jpg" class="newarrival" alt="" />
                <h2>@Model.TenSanPham</h2>
                <p>Web ID: @Model.MaLoaiSanPham</p>
                <img src="~/Asset/images/product-details/rating.png" alt="" />
                <span>
                    <span>@Model.Gia VNĐ</span>
                    
                    <button type="button" class="btn btn-fefault cart">
                        <i class="fa fa-shopping-cart"></i>
                        Thêm vào giỏ hàng
                    </button>
                </span>
                <p><b>Condition:</b> New</p>
                <p><b>Thương hiệu:</b> @Model.MaNhaSanXuat</p>
                <a href=""><img src="~/Asset/images/product-details/share.png" class="share img-responsive" alt="" /></a>
            </div><!--/product-information-->
        </div>
    </div><!--/product-details-->

    <div class="category-tab shop-details-tab">
        <!--category-tab-->
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#reviews" data-toggle="tab">Chi tiết</a></li>
            </ul>
        </div>


            <div class="tab-pane fade active in" id="reviews">
                <div class="col-sm-12">
                   
                    <h3>Cấu hình</h3>
                    <p>@Model.CauHinh</p>

                    <h3>Mô tả</h3>
                    <p>@Model.MoTa</p>

                </div>
            </div>

     </div>
     
 </div><!--/category-tab-->





